@import url();

body{
    background-color: #1f2937;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    /* margin-left: 350px;
    margin-right: 350px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 66%;
    margin: 0 auto;
}

.Middle {
    background-color: white;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.c1{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 100px;
}

.left{
    display: flex;
}

.right{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.c2{
    display: flex;
    justify-content: space-between;
}

.herotext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAFB;
}

.herotext p{
    margin-right: 100px;
    font-size: 18px;
    font-weight: 400;
    color: #A7ACB3
}

button{
    background-color: #3882f6;
    border-radius: 12px;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}


.c2 img{
    width: 500px;
    height: auto;
}

h2{
    background-color: white;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}



.imgs{
    display: flex;
    justify-content: center;
}


.img2 img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.subtext1{
    color: gray;
    text-align: center;
}

.img3 img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.subtext2{
    color: gray;
    text-align: center;
}


.img4 img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.subtext3{
    color: gray;
    text-align: center;
}

.img5 img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.subtext4{
    text-align: center;
    color: gray;
    margin-bottom: 100px;
}

.quote{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quotetext{
    margin: 0 auto;
    width: 45%;
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.author{
    display: flex;
    justify-content: end;
    font-weight: bolder;
    font-size: 26px;
}

.calltoaction {
    display: flex;
    justify-content: center;
    background-color: white;
}

.ctamainblock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #3882f6;
    margin: 75px;
    border-radius: 10px;
    color: white;
}

.maintextcta{
    margin-top: 45px;
    margin-left: 75px;
}

.textcta{
    font-weight: bolder;
}

.smalltext-cta{
    margin-bottom: 45px;
    margin-right: 75px;
}

.button2{
    outline: white;
    margin-left: 80px;
    border-radius: 10px;
    border-color: white;
    border: 1px solid white;
}

.footer{
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: #1f2937;
    color: white;
}

/* keep in mind da ti nisam menjala tvoj css */


/* TEST PAGE STYLING */
/* I added a single global container style to the whole page. The main breakpoint is usually around 1140px for regular screens.
 As you can see from the jpeg your blue CTA container is fully aligned, on left and right side, with the navigation and hero container.

 So by adding a universal padding class this allows all content to be more indented, yet still fully aligned.
*/
.container {
    max-width:1140px;
    margin: 0 auto;
}

.pl-4 {
    padding-left: 4rem; /*https://elementor.com/help/whats-the-difference-between-px-em-rem-vw-and-vh/ Look into different css*/
}

.pr-4 {
    padding-right: 4rem;
}

/* navbar styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar .navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
}
nav.navbar .navbar-logo {
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

nav.navbar .navbar-list .navbar-list-element {
    list-style-type: none;
    margin: 0px 10px;
}

nav.navbar .navbar-list .navbar-list-element .navbar-list-element-link {
    padding: 1.5rem;
    display: block;
    color: white;
    text-decoration: none;
}

/* about container style*/
.about-container {
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.about-container h4{
    text-align: center;
    font-size: 2rem;
}

.about-container-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*this allows the elements to fall one after the other when you make your screen smaller*/
}
.about-container-content-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-container-content-block-img {
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 5px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 15px;
}


/* cta container style*/
.cta-container {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cta-container-content {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 2rem 8rem;
}
.cta-container-content-text {
    color: white;
}

.cta-container-content-text p:first-of-type { /*take a look at nth-child, first-of-type,nth-of-type https://developer.mozilla.org/en-US/docs/Web/CSS/:first-of-type*/
    font-weight:600;
    font-size: 18px;
    margin-bottom: 0px;
}

.cta-container-content-text p:last-of-type {
    font-weight:300;
    font-size: 14px;
    margin-top: 0px;
}

.cta-container-content a {
    color: white;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp Look into media queries. They allow you to make your layouts more mobile friendly. */

@media screen and (max-width:768px)  /*when your screen hits this breakpoint of 768px the layout of an element will change*/{
    .pl-4 {
        padding-left: 2rem !important;
    }
    .pr-4 {
        padding-right: 2rem !important;
    }

    .navbar-list-element-link {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .about-container-content {
        justify-content: center !important;
    }
    .about-container-content-block{
        margin: 0 0.5rem;
    }

    .cta-container-content {
        flex-direction: column;
        padding: 2rem;
    }
}